.venv/
__pycache__/
*.pyc
src/scratch_sanity.py
data/*
!data/raw/
!data/processed/
data/raw/*
data/processed/*
!data/processed/*.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/.gitignore
models/*
!models/.gitkeep

mlflow.db
mlartifacts/
